<div class="container-navbar">
    <div class="navbar">
        <div class="nav-logo">
            <img src="../../../assets/img/logo-hotel.png" class="nav-logo-img" alt="Logo" />
        </div>
        <ul class="nav-menu d-flex align-items-center">
            <li class="menu-item">NOSOTROS</li>
            <li class="menu-item">SERVICIOS</li>
            <li class="menu-item">HABITACIONES</li>
            <li class="menu-item">CONTACTO</li>
            
        </ul>
        <div class="nav-user">
            <i class="uil uil-user"></i>
            <div class="since-box" style="width: 100px;">
                <a [routerLink]="['/admin_reservas']" ><p class="since-text">Reservas</p></a>
            </div>
            <div class="since-box" style="width: 100px;">
                <a [routerLink]="['/admin_empleados']" ><p class="since-text">Empleados</p></a>
            </div>
        </div>
    </div>
</div>

<div class="container-banner">
        <div class="banner-logo">
            <div class="banner-text"><a [routerLink]="['']"><span class="text-logo-white">PacificReef</span><span class="text-logo-yellow">Hotel</span></a> </div>
            <img src="../../../assets/img/logo-stars.png" class="nav-logo-img" alt="Logo" />
        </div>
        <div class="banner-since">
            <div class="since-box">
                <p class="since-text">DESDE 1980</p>
            </div>
        </div>
</div>

