<div class="resumen">
  <div class="reserva-fecha">
    <i class="uil uil-calender"></i>
    <span>Hola</span>

  </div>
  <div>
    <span><strong>|</strong></span>
  </div>
  <div class="reserva-camas">
    <span>1</span>
    <i class="uil uil-bed"></i>
  </div>
  <div>
    <span><strong>|</strong></span>
  </div>
  <div class="reserva-personas">
    <span>2</span>
    <i class="uil uil-users-alt"></i>
    
  </div>

</div>

<div class="container-buscar-reservas">


  <div class="estado">
    <div class="fases">
      <span class="active">SELECCIONAR</span>
      <span>ACCEDE A TU CUENTA</span>
      <span>CONFIRMA</span>
      <span>PAGA</span>
    </div>
    <div class="filtrar">
      <i class="uil uil-filter"></i>
    </div>


  </div>

  <div class="container listado">

    <div class="card mb-3 m-2">
      <div class=" card-color row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/suite.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title" style="font-family: 'Italiana'; font-size: 30px; font-weight: 600;">Habitación
              Premium</h4>
            <p class="card-text">2 personas | 1 cama | 52mts2</p>
            <hr>
            <p class="card-text">Esta espaciosa habitación con amplios ventanales ofrece unas vistas espectaculares y
              una decoración elegante y actual. Las habitaciones tienen vistas a la ciudad o a los ...</p>
            <p class="card-price card-text"><small class="text-body-secondary">$39.990/noche</small></p>
            <div class="boton">
              <a href="#" class="btn btn-primary">Reservar</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card mb-3 m-2">
      <div class=" card-color row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/suite.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title" style="font-family: 'Italiana'; font-size: 30px; font-weight: 600;">Habitación
              Premium</h4>
            <p class="card-text">2 personas | 1 cama | 52mts2</p>
            <hr>
            <p class="card-text">Esta espaciosa habitación con amplios ventanales ofrece unas vistas espectaculares y
              una decoración elegante y actual. Las habitaciones tienen vistas a la ciudad o a los ...</p>
            <p class="card-price card-text"><small class="text-body-secondary">$39.990/noche</small></p>
            <div class="boton">
              <a href="#" class="btn btn-primary">Reservar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 m-2">
      <div class=" card-color row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/suite.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title" style="font-family: 'Italiana'; font-size: 30px; font-weight: 600;">Habitación
              Premium</h4>
            <p class="card-text">2 personas | 1 cama | 52mts2</p>
            <hr>
            <p class="card-text">Esta espaciosa habitación con amplios ventanales ofrece unas vistas espectaculares y
              una decoración elegante y actual. Las habitaciones tienen vistas a la ciudad o a los ...</p>
            <p class="card-price card-text"><small class="text-body-secondary">$39.990/noche</small></p>
            <div class="boton">
              <a href="#" class="btn btn-primary">Reservar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>