<style>
    body {

        background-color: #FFFDF5;
      }

      .color{
        background-color: #FFFDF5;
      }
    
    
    .navbar-brand {
        font-size: 50px;
        display: block;
        margin: auto;
        width: fit-content;
      }
    
      .form-control {
        margin-left: auto;
        margin-right: 0;
        font-size: 18px;
        height: 60px;
      }
    
      .linea-negra {
        border-top: 5px solid black;
        width: 100%;
        margin: 20px auto;
      }
    
      .linea-negra2 {
        border-top: 4px solid black;
        width: 50%;
        margin: 1px;
      }
    
    
      .card-body {
        background-color: #F0EDDC;
      }
    
    
    </style>
    
    <div class="color">

      <div >
    
        <nav class="navbar " >
          <div class="container-fluid">
            <a class="navbar-brand">Todos los empleados</a>
            <form class="d-flex" role="search">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
          </div>
        </nav>
      
      </div>      
      
        <div class="container " >
      
          <hr class="linea-negra">
      
          <div class="row row-cols-1 row-cols-md-2 g-4 ">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Info. CLiente</h3>
                    <hr class="linea-negra2">
                    <p class="info-separator"> <span class="info-label">ID:</span> 1111</p>
                    <p class="info-separator"><span class="info-label">Nombre:</span> Joselito</p>
                    <p class="info-separator"><span class="info-label">Apellido:</span> Joselito</p>
                    <p class="info-separator"><span class="info-label">Días reservados:</span> 5</p>
                    <p class="info-separator"><span class="info-label">Día de llegada:</span> 05/12/2030</p>
                    <p class="info-separator"><span class="info-label">Día de salida:</span> 10/12/2030</p>
                    <div class="position-absolute bottom-0 end-0 p-4">
                      <button class="btn btn-primary editar-reserva btn-lg" style="background-color: #958944;">Editar
                        </button>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Info. CLiente</h3>
                  <hr class="linea-negra2">
                  <p class="info-separator"> <span class="info-label">ID:</span> 1111</p>
                  <p class="info-separator"><span class="info-label">Nombre:</span> Joselito</p>
                  <p class="info-separator"><span class="info-label">Apellido:</span> Joselito</p>
                  <p class="info-separator"><span class="info-label">Días reservados:</span> 5</p>
                  <p class="info-separator"><span class="info-label">Día de llegada:</span> 05/12/2030</p>
                  <p class="info-separator"><span class="info-label">Día de salida:</span> 10/12/2030</p>
                  <div class="position-absolute bottom-0 end-0 p-4">
                    <button class="btn btn-primary editar-reserva btn-lg" style="background-color: #958944;">Editar
                      </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Info. CLiente</h3>
                  <hr class="linea-negra2">
                  <p class="info-separator"> <span class="info-label">ID:</span> 1111</p>
                  <p class="info-separator"><span class="info-label">Nombre:</span> Joselito</p>
                  <p class="info-separator"><span class="info-label">Apellido:</span> Joselito</p>
                  <p class="info-separator"><span class="info-label">Días reservados:</span> 5</p>
                  <p class="info-separator"><span class="info-label">Día de llegada:</span> 05/12/2030</p>
                  <p class="info-separator"><span class="info-label">Día de salida:</span> 10/12/2030</p>
                  <div class="position-absolute bottom-0 end-0 p-4">
                    <button class="btn btn-primary editar-reserva btn-lg" style="background-color: #958944;">Editar
                      </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Info. CLiente</h3>
                  <hr class="linea-negra2">
                  <p class="info-separator"> <span class="info-label">ID:</span> 1111</p>
                  <p class="info-separator"><span class="info-label">Nombre:</span> Joselito</p>
                  <p class="info-separator"><span class="info-label">Apellido:</span> Joselito</p>
                  <p class="info-separator"><span class="info-label">Días reservados:</span> 5</p>
                  <p class="info-separator"><span class="info-label">Día de llegada:</span> 05/12/2030</p>
                  <p class="info-separator"><span class="info-label">Día de salida:</span> 10/12/2030</p>
                  <div class="position-absolute bottom-0 end-0 p-4">
                    <button class="btn btn-primary editar-reserva btn-lg" style="background-color: #958944;">Editar
                      </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Info. CLiente</h3>
                  <hr class="linea-negra2">
                  <p class="info-separator"> <span class="info-label">ID:</span> 1111</p>
                  <p class="info-separator"><span class="info-label">Nombre:</span> Joselito</p>
                  <p class="info-separator"><span class="info-label">Apellido:</span> Joselito</p>
                  <p class="info-separator"><span class="info-label">Días reservados:</span> 5</p>
                  <p class="info-separator"><span class="info-label">Día de llegada:</span> 05/12/2030</p>
                  <p class="info-separator"><span class="info-label">Día de salida:</span> 10/12/2030</p>
                  <div class="position-absolute bottom-0 end-0 p-4">
                    <button class="btn btn-primary editar-reserva btn-lg" style="background-color: #958944;">Editar
                      </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Info. CLiente</h3>
                  <hr class="linea-negra2">
                  <p class="info-separator"> <span class="info-label">ID:</span> 1111</p>
                  <p class="info-separator"><span class="info-label">Nombre:</span> Joselito</p>
                  <p class="info-separator"><span class="info-label">Apellido:</span> Joselito</p>
                  <p class="info-separator"><span class="info-label">Días reservados:</span> 5</p>
                  <p class="info-separator"><span class="info-label">Día de llegada:</span> 05/12/2030</p>
                  <p class="info-separator"><span class="info-label">Día de salida:</span> 10/12/2030</p>
                  <div class="position-absolute bottom-0 end-0 p-4">
                    <button class="btn btn-primary editar-reserva btn-lg" style="background-color: #958944;">Editar
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


    </div>
    
    