<div class="container-reserva">
    <div class="container-components">
        <mat-form-field >
            <mat-label>Tipo de Habitación</mat-label>
            <mat-select class="custom-background">
              @for (food of foods; track food) {
                <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

        <mat-form-field>
          <mat-label>Ingresa el rango de fechas</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Inngreso">
            <input matEndDate placeholder="Salida">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button class="btn btn-warning"> Ver disponibilidad</button>
    </div>


</div>
<div class="container-nuestro-hotel">
  <div class="nuestro nuestro-img" style="">
    <img src="../../../assets/img/hall.png" class="nav-logo-img" alt="Logo" style="width: 400px" />
  </div>
  <div class="nuestro nuestro-text">
    <p class="text-logo-white">Nuestro</p>
    <p class="text-logo-yellow">Hotel</p>
    <p class="nuestro-descripcion">PacificReef Hotel  reabrió sus puertas a los visitantes en 2016. El edificio fue renovado y modernizado para satisfacer las expectativas de los huéspedes más exigentes. Ofrecemos habitaciones de lujo y estándar, numerosas instalaciones y un servicio excepcional.</p>
  </div>
  <div class="nuestro nuestro-barra">
    <img src="../../../assets/img/bar.jpg" class="nav-logo-img" alt="Logo" style="width: 280px" />
  </div>
</div>


<div class="container-contactanos">
  <div class="contacto-text">
    <img src="../../../assets/img/star.png" class="nav-logo-img" alt="Logo" style="width: 40px" />
    <p class="contacto-title">CONTÁCTANOS</p>
    <img src="../../../assets/img/star.png" class="nav-logo-img" alt="Logo" style="width: 40px" />
    <div class="contacto-info">
      <p > Avenida Presidente Kennedy 4601,</p>
      <p > +56229503088</p>
      <p > info&#64;pacificreef.com</p>
    </div>

    <img src="../../../assets/img/star.png" class="nav-logo-img" alt="Logo" style="width: 40px" />
  </div>
</div>

