<app-navbar></app-navbar>


<!-- <h1>Probando Angular Material</h1>

<section>
  <mat-form-field>
    <mat-label>Ingresa el rango de fechas</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Inngreso">
      <input matEndDate placeholder="Salida">
    </mat-date-range-input>
    <mat-hint>mm/dd/yyyy – mm/dd/yyyy</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</section> -->


<app-footer></app-footer>